In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("water_potability.csv")

In [4]:
df.head()

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,NaN,204.890455,20791.318981,7.300212,368.516441,564.308654,10.379783,86.990970,2.963135,0
1,3.716080,129.422921,18630.057858,6.635246,NaN,592.885359,15.180013,56.329076,4.500656,0
2,8.099124,224.236259,19909.541732,9.275884,NaN,418.606213,16.868637,66.420093,3.055934,0
3,8.316766,214.373394,22018.417441,8.059332,356.886136,363.266516,18.436524,100.341674,4.628771,0
4,9.092223,181.101509,17978.986339,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075,0

In [5]:
df['ph'] = df['ph'].fillna(df['ph'].mean())

In [6]:
df.tail()

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
3271,4.668102,193.681735,47580.991603,7.166639,359.948574,526.424171,13.894419,66.687695,4.435821,1
3272,7.808856,193.553212,17329.802160,8.061362,NaN,392.449580,19.903225,NaN,2.798243,1
3273,9.419510,175.762646,33155.578218,7.350233,NaN,432.044783,11.039070,69.845400,3.298875,1
3274,5.126763,230.603758,11983.869376,6.303357,NaN,402.883113,11.168946,77.488213,4.708658,1
3275,7.874671,195.102299,17404.177061,7.509306,NaN,327.459760,16.140368,78.698446,2.309149,1

In [7]:
list_of_ph_values = []

list_of_ph_values = df['ph']
print(list_of_ph_values)
print(len(list_of_ph_values))

0       7.080795
1       3.716080
2       8.099124
3       8.316766
4       9.092223
          ...
3271    4.668102
3272    7.808856
3273    9.419510
3274    5.126763
3275    7.874671
Name: ph, Length: 3276, dtype: float64
3276

# Calculating Mean ph

In [8]:
def mean_of_list(listofValues):
    sum = 0
    for i in range(len(listofValues)):
        sum += listofValues[i]
    mean = sum / len(listofValues)
    return mean

In [9]:
mean_ph = mean_of_list(list_of_ph_values)
print(mean_ph)

7.080794504276761

# Calculating Median ph

In [10]:
def median_of_list(listofValues):
    total_values = len(listofValues)
    sorted_list = sorted(listofValues)
    mid = total_values // 2
    
    if(total_values % 2 == 0):
        median = (sorted_list[mid - 1] + sorted_list[mid]) / 2
        return median
    else:
        median = sorted_list[mid]
        return median

In [11]:
median_ph = median_of_list(list_of_ph_values)
print(median_ph)

7.080794504276835

# Calculating Mode ph

In [13]:
def mode_of_list(listofValues):
    new_dict = {}
    
    for i in listofValues:
        if not i in new_dict:
            new_dict[i] = 1
        else:
            new_dict[i] += 1
    
    
    return [k for k,l in new_dict.items() if l == max(new_dict.values())]

In [14]:
mode_of_list(list_of_ph_values)

[7.080794504276835]

In [19]:
df['ph'].mode()

0    7.080795
Name: ph, dtype: float64

## Measures of Dispersion

- Range
- Variance
- Standard Deviation
- IQR

# Calculating Range ph

In [24]:
def range_of_list(listOfValues):
    max_value = max(listOfValues)
    min_value = min(listOfValues)
    
    return max_value - min_value

In [25]:
range_of_list(list_of_ph_values)

13.999999999999998

# Calculating Variance ph

In [26]:
def variance_of_list(listOfValues):
    mean_listOfValues = mean_of_list(listOfValues)
    total_obs = len(listOfValues)
    
    summ_numerator = 0
    
    for i in range(total_obs):
        temp = (listOfValues[i] - mean_listOfValues)**2
        
        summ_numerator += temp
    
    var_listOfValues = summ_numerator / total_obs
    return var_listOfValues

In [28]:
variance_ph = variance_of_list(list_of_ph_values)
variance_ph

2.1601109774165805

# Calculating Std dev ph

In [50]:
def std_of_list(listOfValues):
    variance = variance_of_list(listOfValues)
    
    return variance ** (1/2)

In [160]:
std_ph = std_of_list(list_of_ph_values)
std_ph

1.469955969846563

# Finding Quartiles

## Finding quartiles

In [152]:
def find_quartile(x,listOfValues):
    sorted_list = sorted(listOfValues)
    total_values = len(sorted_list)
    
    if total_values % 2 == 0:
        mid = total_values // 2
        lower_half = sorted_list[:mid]
        upper_half = sorted_list[mid:]
    else:
        mid = total_values // 2
        lower_half = sorted_list[:mid]
        upper_half = sorted_list[mid+1:]
    
    if x == 1:
        return median_of_list(lower_half)
    else:
        return median_of_list(upper_half)

In [154]:
firstQuartile_ph = find_quartile(1, list_of_ph_values)
firstQuartile_ph

6.277602788378159

In [155]:
thirdQuartile_ph = find_quartile(3, list_of_ph_values)
thirdQuartile_ph

7.8703176409554345

# Finding Inter-Quartile Range

In [156]:
IQR_ph = thirdQuartile_ph - firstQuartile_ph
IQR_ph

1.5927148525772754