In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("water_potability.csv")

In [3]:
df.head()

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,NaN,204.890455,20791.318981,7.300212,368.516441,564.308654,10.379783,86.990970,2.963135,0
1,3.716080,129.422921,18630.057858,6.635246,NaN,592.885359,15.180013,56.329076,4.500656,0
2,8.099124,224.236259,19909.541732,9.275884,NaN,418.606213,16.868637,66.420093,3.055934,0
3,8.316766,214.373394,22018.417441,8.059332,356.886136,363.266516,18.436524,100.341674,4.628771,0
4,9.092223,181.101509,17978.986339,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075,0

In [4]:
df['ph'] = df['ph'].fillna(df['ph'].mean())

In [5]:
df.head()

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,7.080795,204.890455,20791.318981,7.300212,368.516441,564.308654,10.379783,86.990970,2.963135,0
1,3.716080,129.422921,18630.057858,6.635246,NaN,592.885359,15.180013,56.329076,4.500656,0
2,8.099124,224.236259,19909.541732,9.275884,NaN,418.606213,16.868637,66.420093,3.055934,0
3,8.316766,214.373394,22018.417441,8.059332,356.886136,363.266516,18.436524,100.341674,4.628771,0
4,9.092223,181.101509,17978.986339,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075,0

In [48]:
list_of_ph_values = []

list_of_ph_values = df['ph']
print(list_of_ph_values)

0       7.080795
1       3.716080
2       8.099124
3       8.316766
4       9.092223
          ...
3271    4.668102
3272    7.808856
3273    9.419510
3274    5.126763
3275    7.874671
Name: ph, Length: 3276, dtype: float64

In [9]:
def mean_of_list(listofValues):
    sum = 0
    for i in range(len(listofValues)):
        sum += listofValues[i]
    mean = sum / len(listofValues)
    return mean

In [10]:
mean_ph = mean_of_list(list_of_ph_values)
print(mean_ph)

7.080794504276761

In [53]:
def median_of_list(listofValues):
    total_values = len(listofValues)
    print(total_values)
    sorted_list = listofValues.sort_values(ascending = True)
    mid = total_values // 2
    
    if(total_values % 2 == 0):
        median = (sorted_list[mid - 1] + sorted_list[mid]) / 2
        return median
    else:
        median = sorted_list[mid]
        return median

In [54]:
median_ph = median_of_list(list_of_ph_values)
print(median_ph)

3276
7.080794504276835

In [47]:
3276/2

1638.0

In [17]:
print(type(list_of_ph_values))

<class 'pandas.core.series.Series'>

In [38]:
df.median()

ph                     7.080795
Hardness             196.967627
Solids             20927.833607
Chloramines            7.130299
Sulfate              333.073546
Conductivity         421.884968
Organic_carbon        14.218338
Trihalomethanes       66.622485
Turbidity              3.955028
Potability             0.000000
dtype: float64

In [24]:
copy_list = list_of_ph_values.sort_values(ascending = True)

In [26]:
copy_list.median()

7.080794504276835

In [27]:
print(median_of_list(copy_list))

6.919823100741716